<template>
    <div class="container">

            <div class="form-group">
                <label for="name"> Enter title </label>
                <input type="text" class="form-control" name="name" value="" placeholder="Enter product name"
                v-model="product.name">
            </div>
            <div class="form-group">
                <label for="description"> Enter main text </label>
                <textarea type="text" class="form-control" name="description" value="" placeholder="Enter description"
                          v-model="product.description"> </textarea>
            </div>
            <div class="form-group">
                <label for="shop_id"> Enter shop id </label>
                <input type="number" class="form-control" name="shop_id" value="" placeholder="Enter shop by shop id from 1 to 10"
                       v-model="product.shop_id">
            </div>
            <div class="form-group">
                <label for="price"> Enter product price </label>
                <input type="number" class="form-control" name="price" value="" placeholder="Enter product price"
                       v-model="product.price">
            </div>
            <input type="hidden" name="_token" :value=" csrf_token ">
            <button type="submit" class="btn btn-success" name="Submit"
            @click = "create">Create</button>

    </div>
</template>

<script>
    export default {
        data(){
            return{
                product: {
                    name: '',
                    description: '',
                    shop_id: 0,
                    price: 0,
                }
            }
        },
        mounted() {
            console.log('Component addproduct mounted.')
        },
        methods: {
            projectUrl() {
                return route('productStore');
            },
            create(){
                this.$http.post('add', this.product)
                    .then(response=>{
                    console.log(response);
                     this.$router.push('/products');
                })
            }
        },
    }
</script>

<style scoped>

</style>