<template>
    <div class="row">
        <div class="card ">
            <h2>Product - {{item.name}}</h2>
            <p class="card-description">Description:</p>
            <p class="card-description">{{item.description}}</p>
            <p class="inf">Product price: {{item.price}}</p>
            <p class="inf">Shop id: {{item.shop_id}}</p>
            <img :src = "'/images/products/'+item.img" alt="">
            <router-link class="btn btn-info align hvr-grow" :to="'/products/' + item.id + '/update'">Update</router-link>
            <button class="btn btn-warning align hvr-grow"
            @click="$emit('delete-product')">Delete</button>
        </div>
    </div>
</template>

<script>
    export default {
        props:['item'],
        index:1,
    }
</script>

<style scoped>
    .align{
        width:80px;
        margin: 10px 5px 10px;
        display: inline-block;
    }

    .card{
        display:block;
        border:1px solid black;
        width:90%;
        background-color: white;
        margin:10px;
        padding: 2px;
    }
    h2{
        font-size:22px;
        font-weight: bold;
    }
    .card-description{
        font-size:16px;
    }
    .inf{
        font-size:18px;
    }
    img{
        width:100%;
        height: auto;
    }

    .hvr-grow {
        display: inline-block;
        vertical-align: middle;
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        transition-duration: 0.3s;
        transition-property: transform;
    }

    .hvr-grow:hover,
    .hvr-grow:focus,
    .hvr-grow:active {
        transform: scale(1.1);
    }
</style>
