<template>
    <div class="main-link">
        <router-link class="route" to="/products">Products list</router-link>
        <router-link class="route" to="/products/add">Create product</router-link>
    </div>
</template>

<script>
    export default {
        name: "Navbar"
    }
</script>

<style scoped>
      .main-link{
          display: inline-block;
          margin:12px 15px 0;
          font-size:16px;
      }
      .route{
          color:black;
          margin-right: 20px;
          text-decoration: none;
      }

      .route:hover{
          text-decoration: none;
          font-weight: bold;
      }


</style>