<template>
  <div class="row">
         <!-- sidebar -->
         <div class="col-md-3">
             <div class='panel panel-info'>

                 <div class="panel-heading text-center">
                     <h4>Shops</h4>
                 </div>
                 <div class="nav nav-pills nav-stacked" v-for="(item, index) in shops"
                      v-on:click="viewProduct(index+1)">
                    <a href="#" class="link" > {{item.name}}</a>
                 </div>
             </div>
         </div>
              <goods class="col-md-3" v-for = "product in products" :key="product.id" :item = 'product'
              @delete-product="deleteProduct(product)">
              </goods>
  </div>
</template>

<script>
    import Goods from '.\\Goods.vue';
    import swal from 'sweetalert';
    export default {
        data(){
          return{
            products:[],
            shops: [],
          }
        },
        created: function () {
            this.$http.get("/goods/products/").then(function(resp){
                this.products = resp.data;
            });
            this.$http.get("/goods/shops").then(function(resp){
                 this.shops = resp.data;
            });
        },
        components: {
            'goods' : Goods,
        },
        props:['id'],
        methods: {
            viewProduct: function(id) {
                this.$http.get("/goods/products/"+id).then(function(resp){
                    this.products = resp.data;
                    console.log(this.products);
                    this.$router.push('/products');
                });
            },
            deleteProduct (product){
                console.log(product);
                swal({
                    title: "Are you sure?",
                    text: "Once deleted, you will not be able to recover this imaginary file!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            this.$http.delete("/goods/products/"+product.id).then(function(resp){
                                console.log(resp);
                                let index = this.products.indexOf(product);
                                this.products.splice(index, 1);
                                this.$router.push('/products');
                            });
                            swal("This product was deleted", {
                                icon: "success",
                            });
                        } else {
                            swal("Your product is safe");
                        }
                    });

            },

        },
    }
</script>

<style>
    .row{
        background-color: white;
    }
    
    .link{
        background-color: #98FB98;
        display: block;
        border:1px solid #228B22;
        font-size:22px;
        text-align: center;
    }

    .link a{
        color:#008B8B;
    }
    .link:hover{
        text-decoration: none;
        background-color: #68FB73;
    }

    .link:active{
        text-decoration: none;
    }
    h4{
        font-weight: bold;
    }
</style>