<template>
    <div class="row">
        <div class="col-md-12">
            <h1>TableProducts</h1>
            <vuetable
                :row-class="onRowClass"
                :api-mode="false"
                :data = "this.products"
                ></vuetable>
        </div>
    </div>
</template>

<script>
    // it's no working with vue-table2
    export default {
        data(){
            return{
                products:[],
                columns: [
                    {
                        name: 'products.name',
                        sortField: 'name',
                        title: 'Name'
                    },
                    {
                        name: 'products.description',
                        title: 'Description'
                    },
                    {
                        name: 'products.price',
                        title: 'price',
                        sortField: 'price'
                    },
                    {
                        name: 'products.shop_id',
                        sortField: 'products.shop_id',
                        title: 'shop id'
                    },
                ]
            }
        },
        created: function () {
            this.$http.get("/table").then(function(resp){
                this.products = resp.data;
                console.log("TableProducts component");
                console.log(this.products);
            });
        },
        mounted:function () {
            $('#table').DataTable();
        },
    }
</script>

<style scoped>
    td{
        max-width:800px;
    }
</style>