<template>
    <div class="container">

        <div class="form-group">
            <label for="name"> Enter title </label>
            <input type="text" class="form-control" name="name" value="" placeholder="Enter product name"
                   v-model="product.name">
        </div>
        <div class="form-group">
            <label for="description"> Enter main text </label>
            <textarea class="form-control" name="description"  placeholder="Enter description"
                      v-model="product.description"> </textarea>
        </div>
        <div class="form-group">
            <label for="shop_id"> Enter shop id </label>
            <input type="number" class="form-control" name="shop_id" value="" placeholder="Enter shop by shop id from 1 to 10"
                   v-model="product.shop_id">
        </div>
        <div class="form-group">
            <label for="price"> Enter product price </label>
            <input type="number" class="form-control" name="price" value="" placeholder="Enter product price"
                   v-model="product.price">
        </div>
        <input type="hidden" class="form-control" name="img" value=""
               v-model="product.img">
        <input type="hidden" name="_token" :value=" csrf_token ">
        <button type="submit" class="btn btn-success" name="Submit"
                @click = "update">Update</button>

    </div>
</template>

<script>
    import swal from 'sweetalert';
    export default {
        data(){
            return{
                product: {}
            }
        },
        created(){
            this.getProduct();
        },
        mounted() {
            console.log('Component update product mounted.')
        },
        methods: {
            getProduct() {
                this.$http.get("products/"+this.$route.params.product)
                    .then(resp =>{
                    this.product = resp.body;
                    console.log(this.product);
                });
            },
            update(){
                this.$http.put("products/"+this.$route.params.product, this.product)
                    .then(response=>{
                        console.log(response);
                        swal("Updated", "Your product has been updated", "success");
                        this.$router.push('/products');
                    })
            }
        },
    }
</script>

<style scoped>

</style>
